---
# Ensure Magento2 application directory ownership
- name: Set ownership and permissions for Magento2 installation
  ansible.builtin.file:
    path: "{{ magento2_home }}"
    owner: "{{ magento2_user }}"
    group: "{{ magento2_group }}"
    mode: '0755'
    recurse: yes

# Update NGINX to run as Magento2 user
- name: Ensure nginx user is set to magento2_user
  ansible.builtin.lineinfile:
    path: /etc/nginx/nginx.conf
    regexp: '^user\s+'
    line: "user {{ magento2_user }} {{ magento2_group }};"
    backrefs: yes
  notify: reload nginx
  
