# installing PHP and PHP-FPM 
---
- name: Check if php core packages are already installed
  ansible.builtin.shell: |
    dpkg -l | grep -E "php{{ php_version }}-(fpm|cli)"
  register: php_package_check
  ignore_errors: true
  changed_when: false

- name: Pin PHP 8.3 packages to prevent 8.4 auto-installation
  ansible.builtin.copy:
    dest: /etc/apt/preferences.d/php.pref
    content: |
      Package: php*
      Pin: version 8.3*
      Pin-Priority: 1001

- name: Purge PHP 8.4 packages if any
  ansible.builtin.shell: |
    apt-get purge -y 'php8.4*'
    apt-get autoremove -y
  ignore_errors: true

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes


- name: Install PHP 8.3 and required extensions
  ansible.builtin.apt:
    name:
      - php{{ php_version }}
      - php{{ php_version }}-fpm
      - php{{ php_version }}-cli
      - php{{ php_version }}-mysql
      - php{{ php_version }}-xml
      - php{{ php_version }}-gd
      - php{{ php_version }}-mbstring
      - php{{ php_version }}-curl
      - php{{ php_version }}-intl
      - php{{ php_version }}-zip
      - php{{ php_version }}-bcmath
      - php{{ php_version }}-opcache
      - php{{ php_version }}-redis
    state: present
    update_cache: yes
  notify: restart php-fpm

- name: Ensure php8.3 is the default PHP CLI
  ansible.builtin.file:
    src: "/usr/bin/php{{ php_version }}"
    dest: "/usr/bin/php"
    state: link
    force: yes


- name: Install PHP-FPM pool file for magento2
  ansible.builtin.template:
    src: magento2-pool.conf.j2
    dest: /etc/php/{{ php_version }}/fpm/pool.d/magento2.conf
    owner: "{{ magento2_user }}"
    group: "{{ magento2_group }}"
    mode: '0644'
  notify: restart php-fpm   
    