# installing PHP and PHP-FPM 
---
- name: Check if php core packages are already installed
  ansible.builtin.shell: |
    dpkg -l | grep -E "php{{ php_version }}-(fpm|cli)"
  register: php_package_check
  ignore_errors: true
  changed_when: false

- name: Ensure no broken PHP packages remain
  ansible.builtin.shell: |
    apt-get -f install -y
    dpkg --configure -a
    apt-get purge -y 'php8.*' || true
    apt-get autoremove -y
    apt-get autoclean -y
  become: true
  ignore_errors: true


- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes


- name: Install PHP 8.3 and required extensions
  ansible.builtin.apt:
    name:
      - php{{ php_version }}
      - php{{ php_version }}-fpm
      - php{{ php_version }}-cli
      - php{{ php_version }}-mysql
      - php{{ php_version }}-xml
      - php{{ php_version }}-gd
      - php{{ php_version }}-mbstring
      - php{{ php_version }}-curl
      - php{{ php_version }}-intl
      - php{{ php_version }}-zip
      - php{{ php_version }}-soap
      - php{{ php_version }}-readline
      - php{{ php_version }}-bcmath
      - php{{ php_version }}-opcache
      - php{{ php_version }}-redis
    state: present
    update_cache: yes
  notify: restart php-fpm

- name: Ensure php8.3 is the default PHP CLI
  ansible.builtin.file:
    src: "/usr/bin/php{{ php_version }}"
    dest: "/usr/bin/php"
    state: link
    force: yes


- name: Install PHP-FPM pool file for magento2
  ansible.builtin.template:
    src: magento2-pool.conf.j2
    dest: /etc/php/{{ php_version }}/fpm/pool.d/magento2.conf
    owner: "{{ magento2_user }}"
    group: "{{ magento2_group }}"
    mode: '0644'
  notify: restart php-fpm   
    