[magento2]
user = {{ magento2_user }}
group = {{ magento2_group }}
listen = /run/php/php{{ php_version }}-fpm-magento2.sock
listen.owner = {{ magento2_user }}
listen.group = {{ magento2_group }}
listen.mode = 0660

pm = dynamic
pm.max_children = 20
pm.start_servers = 4
pm.min_spare_servers = 2
pm.max_spare_servers = 6

chdir = {{ magento2_root }}
catch_workers_output = yes
php_admin_value[memory_limit] = 2G
php_admin_value[upload_max_filesize] = 64M
php_admin_value[post_max_size] = 64M
php_admin_value[max_execution_time] = 1800
php_admin_value[error_log] = /var/log/php{{ php_version }}-fpm-magento2.log
php_admin_flag[log_errors] = on