upstream fastcgi_backend {
    server unix:/run/php/php{{ php_version }}-fpm-{{ php_fpm_pool }}.sock;
}

server {
    listen 8080;
    server_name {{ magento2_domain }};
    set $MAGE_ROOT {{ magento2_root }};
    set $MAGE_MODE developer;  # can change to production later

    root $MAGE_ROOT/pub;

    index index.php;
    autoindex off;
    charset off;
    error_page 404 403 = /errors/404.php;

    add_header X-Frame-Options "SAMEORIGIN";
    add_header X-Content-Type-Options "nosniff";

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location /pub/ {
        alias $MAGE_ROOT/pub/;
    }

    location /static/ {
        alias $MAGE_ROOT/pub/static/;
        expires max;
        add_header Cache-Control "public";
    }

    location /media/ {
        alias $MAGE_ROOT/pub/media/;
        expires max;
        add_header Cache-Control "public";
    }

    location ~ (index|get|static|report|404|503)\.php$ {
        try_files $uri =404;
        fastcgi_pass fastcgi_backend;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        include        fastcgi_params;
    }

    location ~* \.php$ {
        fastcgi_pass fastcgi_backend;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
        include fastcgi_params;

        fastcgi_buffers 16 16k;
        fastcgi_buffer_size 32k;
        fastcgi_busy_buffers_size 32k;
        fastcgi_temp_file_write_size 32k;
        fastcgi_read_timeout 300;
        fastcgi_send_timeout 300;


    }

    location ~ /\.ht {
        deny all;
    }

    access_log /var/log/nginx/magento_access.log;
    error_log /var/log/nginx/magento_error.log;
}

server {
    listen 443 ssl;
    server_name test.mgt.com;

    ssl_certificate     /etc/nginx/ssl/test.mgt.com/test.mgt.com.crt;
    ssl_certificate_key /etc/nginx/ssl/test.mgt.com/test.mgt.com.key;

    set $MAGE_ROOT {{ magento2_root };
    root $MAGE_ROOT;

    index index.php index.html;

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php{{ php_version }}-fpm-{{ php_fpm_pool }}.sock;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;

        fastcgi_buffers 16 16k;
        fastcgi_buffer_size 32k;
        fastcgi_busy_buffers_size 32k;
        fastcgi_temp_file_write_size 32k;
        fastcgi_read_timeout 300;
        fastcgi_send_timeout 300;

    }

    location ~* (\.htaccess|\.git|\.svn|\.hg|\.env|composer\.json|composer\.lock|package\.xml)$ {
        deny all;
    }