upstream fastcgi_backend {
    server unix:/run/php/php{{ php_version }}-fpm-{{ php_fpm_pool }}.sock;
}

server {
    listen 80;
    server_name {{ magento2_domain }};
    set $MAGE_ROOT {{ magento2_home }};
    set $MAGE_MODE developer;  # can change to production later

    root $MAGE_ROOT/pub;

    index index.php index.html;
    autoindex off;
    charset off;
    error_page 404 403 = /errors/404.php;

    add_header X-Frame-Options "SAMEORIGIN";
    add_header X-Content-Type-Options "nosniff";

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location /pub/ {
        alias $MAGE_ROOT/pub/;
    }

    location /static/ {
        alias $MAGE_ROOT/pub/static/;
        expires max;
        add_header Cache-Control "public";
    }

    location /media/ {
        alias $MAGE_ROOT/pub/media/;
        expires max;
        add_header Cache-Control "public";
    }

    location ~ (index|get|static|report|404|503)\.php$ {
        try_files $uri =404;
        fastcgi_pass fastcgi_backend;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        include        fastcgi_params;
    }

    location ~* \.php$ {
        fastcgi_pass unix:/run/php/php{{ php_version }}-fpm-{{ php_fpm_pool }}.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
        include fastcgi_params;

        fastcgi_buffers 256 16k;
        fastcgi_buffer_size 128k;
        fastcgi_busy_buffers_size 256k;
        fastcgi_temp_file_write_size 256k;

        fastcgi_read_timeout 600;
        fastcgi_send_timeout 600;
        fastcgi_connect_timeout 300;



    }

    location ~ /\.ht {
        deny all;
    }

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;
}

server {
    listen 443 ssl;
    server_name test.mgt.com;

    root /var/www/magento2/pub;
    index index.php index.html;

    ssl_certificate /etc/ssl/magento2/magento2.crt;
    ssl_certificate_key /etc/ssl/magento2/magento2.key;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_pass unix:/run/php/php8.3-fpm-magento2.sock;
        include fastcgi.conf;
        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
    }
}


        