---

#  Redis Installation

- name: Check if Redis is already installed
  ansible.builtin.shell: dpkg -l | grep redis-server
  register: redis_check
  ignore_errors: true
  changed_when: false

- name: Install Redis Server (if not installed)
  ansible.builtin.apt:
    name: redis-server
    state: present
    update_cache: yes
  when: redis_check.rc != 0


#  Redis Configuration

- name: Ensure Redis service is started and enabled
  ansible.builtin.service:
    name: redis-server
    state: started
    enabled: yes

- name: Wait for Redis port {{ redis_port }} to become open
  ansible.builtin.wait_for:
    host: "{{ redis_host }}"
    port: "{{ redis_port }}"
    timeout: 20
    state: started

- name: Check if env.php already exists
  ansible.builtin.stat:
    path: "{{ magento2_home }}/app/etc/env.php"
  register: env_php

- name: Remove Magento auto backup if exists (to prevent permission issues)
  file:
    path: "{{ magento2_home }}/app/etc/env.php.bak"
    state: absent
  become: true

- name: Deploy Magento2 env.php configuration
  ansible.builtin.template:
    src: env.php.j2
    dest: "{{ magento2_home }}/app/etc/env.php"
    owner: "{{ magento2_user }}"
    group: "{{ magento2_group }}"
    mode: '0644'
  when: env_php.stat.exists == false
  notify:
    - restart php-fpm  

#  Configure Magento2 with Redis

- name: Configure magento2 to use Redis for cache
  ansible.builtin.command: >
    bin/magento setup:config:set
    --cache-backend=redis
    --cache-backend-redis-server={{ redis_host }}
    --cache-backend-redis-port={{ redis_port }}
  args:
    chdir: "{{ magento2_home }}"
  become: true
  become_user: "{{ magento2_user }}"
  async: 120
  poll: 10
  register: magento2_redis_cache
  retries: 2
  until: magento2_redis_cache.rc == 0


# - name: Configure magento2 to use Redis for cache
#   ansible.builtin.command: >
#     bin/magento setup:config:set
#     --cache-backend=redis
#     --cache-backend-redis-server={{ redis_host }}
#     --cache-backend-redis-port={{ redis_port }}
#   args:
#     chdir: "{{ magento2_home }}"
#   become_user: "{{ magento2_user }}"
#   register: cache_config
#   changed_when: "'Cache backend configuration is complete' in cache_config.stdout"

- name: Configure magento2 to use Redis for session
  ansible.builtin.command: >
    bin/magento setup:config:set
    --session-save=redis
    --session-save-redis-host={{ redis_host }}
    --session-save-redis-port={{ redis_port }}
  args:
    chdir: "{{ magento2_home }}"
  become: true
  become_user: "{{ magento2_user }}"
  async: 120
  poll: 10
  register: magento2_redis_session
  retries: 2
  until: magento2_redis_session.rc == 0


# - name: Configure Magento2 to use Redis for session
#   ansible.builtin.command: >
#     bin/magento setup:config:set
#     --session-save=redis
#     --session-save-redis-host={{ redis_host }}
#     --session-save-redis-port={{ redis_port }}
#   args:
#     chdir: "{{ magento2_home }}"
#   become_user: "{{ magento2_user }}"
#   register: session_config
#   changed_when: "'Session save configuration is complete' in session_config.stdout"

- name: Flush Magento2 cache
  ansible.builtin.command: bin/magento cache:flush
  args:
    chdir: "{{ magento2_home }}"
  become_user: "{{ magento2_user }}"
  when:
    - magento2_redis_cache.changed or magento2_redis_session.changed
