
- name: Magento2 Web App
  hosts: magento2
  become: true
  vars_files:
    - ../group_vars/commonvars.yml
    - ../group_vars/secretvars.yml
  roles:
    #- users
    #- package_repos
    #- elasticsearch
    #- mysql
    #- php
    #- magento2
    #- permissions
   # - magento_config 
   # - redis
    - phpmyadmin
    - certs
    - nginx
    - varnish

  handlers:
    - name: restart mysql 
      ansible.builtin.service:
        name: mysql
        state: restarted 

    - name: reload nginx
      ansible.builtin.service:
        name: nginx
        state: reloaded

    - name: restart nginx
      ansible.builtin.service:
        name: nginx
        state: restarted 

    - name: restart php-fpm
      ansible.builtin.service:
        name: "php{{ php_version }}-fpm"
        state: restarted
        enabled: true       

    - name: restart varnish
      ansible.builtin.service:
        name: varnish
        state: restarted

    - name: daemon-reload
      ansible.builtin.systemd:
        daemon_reload: true

    

