server {
    listen 443 ssl;
    server_name test.mgt.com;

    ssl_certificate     /etc/ssl/magento/magento.crt;
    ssl_certificate_key /etc/ssl/magento/magento.key;

    root {{ magento2_home }};
    index index.php index.html;

    access_log /var/log/nginx/magento_ssl_access.log;
    error_log  /var/log/nginx/magento_ssl_error.log;

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php{{ php_version }}-fpm-{{ php_fpm_pool }}.sock;
    }

    location ~* \.(jpg|jpeg|gif|png|css|js|ico|webp|tiff)$ {
        expires 365d;
    }

    location ~* \.(pdf|html|htm|svg|mp4)$ {
        expires 30d;
    }
}
