
---
# MySQL 8 installation and configuration for Magento 2

- name: Ensure community.mysql collection is installed
  ansible.builtin.command: ansible-galaxy collection install community.mysql
  args:
    creates: ~/.ansible/collections/ansible_collections/community/mysql
  register: mysql_collection_install
  changed_when: "'installed successfully' in mysql_collection_install.stdout"

# Install MySQL 8 packages
- name: Install MySQL 8 server and client
  ansible.builtin.apt:
    name:
      - mysql-server
      - mysql-client
      - python3-pymysql
    state: present
    update_cache: yes

- name: Ensure MySQL service is running and enabled
  ansible.builtin.service:
    name: mysql
    state: started
    enabled: true

# Secure MySQL installation

- name: Create SQL file to reset root password and plugin
  ansible.builtin.copy:
    dest: /tmp/mysql-init.sql
    content: |
      ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY '{{ mysql_root_password }}';
      FLUSH PRIVILEGES;
    owner: root
    group: root
    mode: '0600'

- name: Restart MySQL with init-file to apply password
  ansible.builtin.shell: |
    systemctl stop mysql
    mysqld_safe --init-file=/tmp/mysql-init.sql &
    sleep 5
    systemctl restart mysql
    rm -f /tmp/mysql-init.sql
  args:
    executable: /bin/bash

- name: Verify root authentication plugin
  ansible.builtin.shell: "mysql -u root -p'{{ mysql_root_password }}' -Nse \"SELECT user,plugin FROM mysql.user WHERE user='root';\""
  register: mysql_plugin_check
  changed_when: false

- name: Ensure MySQL root password is set
  community.mysql.mysql_user:
    name: root
    host: localhost
    password: "{{ mysql_root_password }}"
    plugin: mysql_native_password
    state: present
    login_user: root
    login_password: "{{ mysql_root_password }}"

# Remove anonymous users
- name: Remove anonymous MySQL users
  community.mysql.mysql_user:
    name: ''
    host_all: true
    state: absent
    login_user: root
    login_password: "{{ mysql_root_password }}"

# Remove test database
- name: Remove test database
  community.mysql.mysql_db:
    name: test
    state: absent
    login_user: root
    login_password: "{{ mysql_root_password }}"

# Disallow remote root login
- name: Disallow remote root login
  community.mysql.mysql_user:
    name: root
    host: "{{ ansible_hostname }}"
    state: absent
    login_user: root
    login_password: "{{ mysql_root_password }}"
  ignore_errors: true

# Flush privileges
- name: Flush privileges
  community.mysql.mysql_query:
    login_user: root
    login_password: "{{ mysql_root_password }}"
    query: "FLUSH PRIVILEGES;"

- name: Ensure Magento2 database is present
  community.mysql.mysql_db:
    name: "{{ mysql_magento2_db }}"
    encoding: utf8mb4
    collation: utf8mb4_unicode_ci
    state: present
    login_user: root
    login_password: "{{ mysql_root_password }}"

- name: Ensure Magento2 DB user is present
  community.mysql.mysql_user:
    name: "{{ mysql_magento2_user }}"
    password: "{{ mysql_magento2_password }}"
    priv: "{{ mysql_magento2_db }}.*:ALL"
    host: "localhost"
    state: present
    append_privs: yes
    login_user: root
    login_password: "{{ mysql_root_password }}"

- name: Flush privileges again
  community.mysql.mysql_query:
    login_user: root
    login_password: "{{ mysql_root_password }}"
    query: "FLUSH PRIVILEGES;"

# Optimize MySQL for Magento2
- name: Deploy optimized MySQL configuration for Magento2
  ansible.builtin.template:
    src: magento2.cnf.j2
    dest: /etc/mysql/conf.d/magento2.cnf
    owner: root
    group: root
    mode: '0644'
  notify: restart mysql

# Optional validation
- name: Validate MySQL connectivity
  community.mysql.mysql_info:
    login_user: root
    login_password: "{{ mysql_root_password }}"
  register: mysql_info
  changed_when: false

- name: restart mysql 
  ansible.builtin.service:
    name: mysql
    state: restarted  
